{% extends "core/base.html" %} {% block content %}

<section class="" style="background-color: #d2c9ff">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12">
        <div class="card card-registration card-cart">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="pt-4 p-5">
                  <div class="pb-2">
                    <h6 class="mb-0">
                      <a href="{% url 'products' %}" class="text-body">
                        <i class="fas fa-long-arrow-alt-left me-2"></i>
                        Back to shop
                      </a>
                    </h6>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center pb-5"
                  >
                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ cart_items | length }} items</h6>
                  </div>

                  <div class="cart-header d-flex flex-column px-3 gy-3">

                    <!-- Cart Item -->
                    {% for product, qty, total in cart_items %}
                    <div class="cart-item row py-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="{{ product.image.url }}"
                          class="img-fluid rounded-3"
                          alt="Cotton T-shirt"
                        />
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{ product.category.name }}</h6>
                        <h6 class="mb-0">{{ product.title }}</h6>
                      </div>
                      <div class="col-md-3 d-flex">
                        <form  action="{% url 'update_cart' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="product_id" class="d-none" value={{ product.id }} />
                          <input type="hidden" name="delta" value="-1" />
                          <button type="submit" class="btn btn-outline-primary px-2 mx-1">
                            <i class="fas fa-minus"></i>
                          </button>
                        </form>

                        <div
                          class="d-flex justify-content-center align-items-center rounded-3"
                          style="background-color: lightgrey; width: 32px;"
                        >
                          {{ qty }}
                        </div>

                        <form action="{% url 'update_cart' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="product_id" class="d-none" value={{ product.id }} />
                          <input type="hidden" name="delta" value="1" />
                          <button class="btn btn-outline-primary px-2 mx-1">
                            <i class="fas fa-plus"></i>
                          </button>
                        </form>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">$ {{ total }}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="{% url 'remove_from_cart' product.id %}" class="btn btn-danger">
                          <i class="fas fa-times"></i>
                        </a>
                      </div>
                    </div>
                    {% endfor %}
                    <!-- /Cart Item -->

                  </div>
                </div>
              </div>
              <div
                style="border-radius: 15px"
                class="col-lg-4 bg-body-tertiary"
              >
                <div class="p-5">
                  <h3 class="fw-bold mb-2 mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mt-2 mb-4">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>$ {{ total_price }}</h5>
                  </div>

                  <form action="{% url 'checkout' %}" method="post">
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="btn btn-dark btn-lg"
                      style="width: 100%"
                    >
                      Check Out
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
